[Desktop Entry]
Categories=System;Utility;
Comment[zh_CN]=启动输入法
Comment=Start Input Method
Comment[de]=Eingabemethode starten
Comment[ja]=入力メソッドを開始
Comment[ko]=입력기 시작
Comment[zh_TW]=啓動輸入法
Exec=fcitx
GenericName[zh_CN]=输入法
GenericName=Input Method
GenericName[de]=Eingabemethode
GenericName[es]=Método de entrada
GenericName[ja]=入力メソッド
GenericName[ko]=입력 방법
GenericName[zh_TW]=輸入法
Icon=fcitx
Name[zh_CN]=Fcitx
Name=Fcitx
Name[de]=Fcitx
Name[es]=Fcitx
Name[ja]=Fcitx
Name[ko]=Fcitx
Name[zh_TW]=Fcitx
StartupNotify=false
Terminal=false
Type=Application
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-StartupNotify=false
X-KDE-autostart-after=panel
