[Desktop Entry]
Version=1.0
Name=MPD (daemon)
Comment=A daemon for Music player
Exec=mpd
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Multimedia;

